<footer style="background-color: #141414!important;bottom:0;position:relative">

  <div style="background: black!important;" class="copyright-area ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="copyright-text">
            <h6 style="color:white">Copyright © 2021-2024 All Rights Reserved.</h6>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="copyright-right-wrap">
            <div class="copyright-form">
              <form id="newsletterForm">
                <a href="/contact" class="btn">BOOK US NOW</a>
              </form>
            </div>
            <button class="scroll-top scroll-to-target" data-target="html">
              <i class="fal fa-long-arrow-up"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
