<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Micolli Films <%= motto %></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link async rel="shortcut icon" type="image/x-icon" href="/assets/img/micolli/MF Insta Profile.png" />
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS here -->
  <link async rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link async rel="stylesheet" href="/assets/css/animate.min.css" />
  <link async rel="stylesheet" href="/assets/css/fontawesome-all.min.css" />
  <link async rel="stylesheet" href="/assets/css/flaticon.css" />
  <link async rel="stylesheet" href="/assets/css/aos.css" />
  <link async rel="stylesheet" href="/assets/css/slick.css" />
  <link async rel="stylesheet" href="/assets/css/default.css" />
  <link async rel="stylesheet" href="/assets/css/style.css" />
  <link async rel="stylesheet" href="/assets/css/responsive.css" />
  <link async rel="stylesheet" href="/assets/css/litespeed.css" />
  <link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <!-- jQuery (required by Owl Carousel) -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" async>
  <!-- Owl Carousel JS -->
  <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <style async id="css_masterPage">
    #comp-iwqfn28v {
      --stroke-width: 3;
      --fill-opacity: 1;
      --stroke: #050505;
      --stroke-opacity: 1;
      --fill: #050505;
      --svg-calculated-padding: 1px 2px 2px 1px;
      --svg-calculated-width: calc(100% - 3px);
      --svg-calculated-height: calc(100% - 3px)
    }

    #comp-kb17s44w {
      --height: 105px;
      --width: 169px;
      --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
      --mask-position: 0% 0%;
      --mask-size: 100% 100%;
      --mask-repeat: no-repeat
    }

    @font-face {
      font-family: "Futura-LT-W01-Book";
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2") format("woff2"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e2b9cbeb-fa8e-41cd-8a6a-46044b29ba52.woff") format("woff");
      font-display: block;
    }

    @font-face {
      font-family: "Futura-LT-W05-Book";
      src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Futura_Complete/v1/FuturaLTW05-Book.woff2") format("woff2");
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 400;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4QIFqL_KWxWMT.woff2") format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 400;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4SYFqL_KWxWMT.woff2") format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 400;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4QoFqL_KWxWMT.woff2") format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 400;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4Q4FqL_KWxWMT.woff2") format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 400;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2") format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 700;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4QIFqL_KWxWMT.woff2") format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 700;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4SYFqL_KWxWMT.woff2") format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 700;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4QoFqL_KWxWMT.woff2") format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 700;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4Q4FqL_KWxWMT.woff2") format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 700;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2") format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA.woff2") format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2") format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA.woff2") format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2") format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2") format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA.woff2") format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2") format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA.woff2") format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2") format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      font-display: block;
    }

    @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/raleway/v26/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2") format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      font-display: block;
    }

    @font-face {
      font-family: "Futura-LT-W01-Light";
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/26091050-06ef-4fd5-b199-21b27c0ed85e.woff2") format("woff2"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/cca525a8-ad89-43ae-aced-bcb49fb271dc.woff") format("woff");
      font-display: block;
    }

    @font-face {
      font-family: "Futura-LT-W05-Light";
      src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Futura_Complete/v1/FuturaLTW05-LightCondensed.woff2") format("woff2"),
        url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Futura_Complete/v1/FuturaLTW05-LightCondensed.woff") format("woff");
      font-display: block;
    }

    @font-face {
      font-family: "DIN-Next-W01-Light";
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
      font-display: block;
    }

    @font-face {
      font-family: "DIN-Next-W02-Light";
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
      font-display: block;
    }

    @font-face {
      font-family: "DIN-Next-W10-Light";
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix");
      src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a9e95a29-98a7-404a-90ee-1929ad09c696.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0a7663fd-eae8-4e50-a67a-225271f8cceb.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/58ae9be9-5d95-44b6-8b6c-e6da6a46822c.svg#58ae9be9-5d95-44b6-8b6c-e6da6a46822c") format("svg");
      font-display: block;
    }

    #masterPage:not(.landingPage) #PAGES_CONTAINER {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    #masterPage.landingPage #SITE_HEADER {
      display: none;
    }

    #masterPage.landingPage #SITE_FOOTER {
      display: none;
    }

    #masterPage.landingPage #comp-iwqfn28v {
      display: none;
    }

    #masterPage.landingPage #SITE_HEADER-placeholder {
      display: none;
    }

    #masterPage.landingPage #SITE_FOOTER-placeholder {
      display: none;
    }

    #SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus,
    #SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus~.wixSdkShowFocusOnSibling {
      --focus-ring-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff;
      box-shadow: var(--focus-ring-box-shadow) !important;
      z-index: 1;
    }

    .has-inner-focus-ring {
      --focus-ring-box-shadow: inset 0 0 0 1px #ffffff, inset 0 0 0 3px #116dff !important;
    }

    #masterPage {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 0;
    }

    #SITE_HEADER {
      z-index: 50;
      --above-all-in-container: 10000;
    }

    #SITE_FOOTER {
      --pinned-layer-in-container: 51;
      --above-all-in-container: 49;
    }

    #PAGES_CONTAINER {
      --pinned-layer-in-container: 52;
      --above-all-in-container: 49;
    }

    #comp-iwqfn28v-pinned-layer {
      z-index: calc(var(--pinned-layers-in-page, 0) + 53);
      --above-all-in-container: 10000;
    }

    #comp-iwqfn28v {
      justify-self: end;
      margin-right: 63px;
      align-self: start;
      margin-top: 40px;
      position: absolute;
      grid-area: 1 / 1 / 2 / 2;
      pointer-events: auto;
    }

    :root,
    :host,
    .spxThemeOverride {
      --color_0: 255, 255, 255;
      --color_1: 255, 255, 255;
      --color_2: 0, 0, 0;
      --color_3: 237, 28, 36;
      --color_4: 0, 136, 203;
      --color_5: 255, 203, 5;
      --color_6: 114, 114, 114;
      --color_7: 176, 176, 176;
      --color_8: 255, 255, 255;
      --color_9: 114, 114, 114;
      --color_10: 176, 176, 176;
      --color_11: 255, 255, 255;
      --color_12: 207, 207, 207;
      --color_13: 167, 167, 167;
      --color_14: 121, 121, 121;
      --color_15: 5, 5, 5;
      --color_16: 197, 217, 229;
      --color_17: 161, 186, 202;
      --color_18: 104, 148, 176;
      --color_19: 69, 99, 117;
      --color_20: 35, 49, 59;
      --color_21: 235, 188, 200;
      --color_22: 216, 150, 168;
      --color_23: 196, 77, 109;
      --color_24: 131, 51, 72;
      --color_25: 65, 26, 36;
      --color_26: 197, 216, 190;
      --color_27: 153, 177, 145;
      --color_28: 101, 138, 88;
      --color_29: 68, 92, 59;
      --color_30: 34, 46, 29;
      --color_31: 224, 223, 210;
      --color_32: 194, 191, 169;
      --color_33: 145, 143, 126;
      --color_34: 97, 95, 84;
      --color_35: 48, 48, 42;
      --font_0: normal normal bold 22px/1.4em futura-lt-w01-book, futura-lt-w05-book, sans-serif;
      --font_1: normal normal normal 15px/1.4em raleway, sans-serif;
      --font_2: normal normal normal 14px/1.4em futura-lt-w01-light, futura-lt-w05-light, sans-serif;
      --font_3: normal normal normal 60px/1.4em raleway, sans-serif;
      --font_4: normal normal normal 30px/1.4em raleway, sans-serif;
      --font_5: normal normal normal 22px/1.4em raleway, sans-serif;
      --font_6: normal normal normal 19px/1.4em raleway, sans-serif;
      --font_7: normal normal normal 15px/1.4em raleway, sans-serif;
      --font_8: normal normal normal 14px/1.4em raleway, sans-serif;
      --font_9: normal normal normal 13px/1.4em raleway, sans-serif;
      --font_10: normal normal normal 10px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
      --wix-ads-height: 0px;
      --sticky-offset: 0px;
      --wix-ads-top-height: 0px;
      --site-width: 980px;
      --above-all-z-index: 100000;
      --portals-z-index: 100001;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      --minViewportSize: 320;
      --maxViewportSize: 1920;
      --theme-spx-ratio: 1px;
    }

    .font_0 {
      font: var(--font_0);
      color: rgb(var(--color_15));
      letter-spacing: 0em;
    }

    .font_1 {
      font: var(--font_1);
      color: rgb(var(--color_14));
      letter-spacing: 0em;
    }

    .font_2 {
      font: var(--font_2);
      color: rgb(var(--color_11));
      letter-spacing: 0em;
    }

    .font_3 {
      font: var(--font_3);
      color: rgb(var(--color_15));
      letter-spacing: 0em;
    }

    .font_4 {
      font: var(--font_4);
      color: rgb(var(--color_15));
      letter-spacing: 0em;
    }

    .font_5 {
      font: var(--font_5);
      color: rgb(var(--color_15));
      letter-spacing: 0em;
    }

    .font_6 {
      font: var(--font_6);
      color: rgb(var(--color_15));
      letter-spacing: 0em;
    }

    .font_7 {
      font: var(--font_7);
      color: rgb(var(--color_15));
      letter-spacing: 0em;
    }

    .font_8 {
      font: var(--font_8);
      color: rgb(var(--color_15));
      letter-spacing: 0em;
    }

    .font_9 {
      font: var(--font_9);
      color: rgb(var(--color_15));
      letter-spacing: 0em;
    }

    .font_10 {
      font: var(--font_10);
      color: rgb(var(--color_15));
      letter-spacing: 0em;
    }

    .color_0 {
      color: rgb(var(--color_0));
    }

    .color_1 {
      color: rgb(var(--color_1));
    }

    .color_2 {
      color: rgb(var(--color_2));
    }

    .color_3 {
      color: rgb(var(--color_3));
    }

    .color_4 {
      color: rgb(var(--color_4));
    }

    .color_5 {
      color: rgb(var(--color_5));
    }

    .color_6 {
      color: rgb(var(--color_6));
    }

    .color_7 {
      color: rgb(var(--color_7));
    }

    .color_8 {
      color: rgb(var(--color_8));
    }

    .color_9 {
      color: rgb(var(--color_9));
    }

    .color_10 {
      color: rgb(var(--color_10));
    }

    .color_11 {
      color: rgb(var(--color_11));
    }

    .color_12 {
      color: rgb(var(--color_12));
    }

    .color_13 {
      color: rgb(var(--color_13));
    }

    .color_14 {
      color: rgb(var(--color_14));
    }

    .color_15 {
      color: rgb(var(--color_15));
    }

    .color_16 {
      color: rgb(var(--color_16));
    }

    .color_17 {
      color: rgb(var(--color_17));
    }

    .color_18 {
      color: rgb(var(--color_18));
    }

    .color_19 {
      color: rgb(var(--color_19));
    }

    .color_20 {
      color: rgb(var(--color_20));
    }

    .color_21 {
      color: rgb(var(--color_21));
    }

    .color_22 {
      color: rgb(var(--color_22));
    }

    .color_23 {
      color: rgb(var(--color_23));
    }

    .color_24 {
      color: rgb(var(--color_24));
    }

    .color_25 {
      color: rgb(var(--color_25));
    }

    .color_26 {
      color: rgb(var(--color_26));
    }

    .color_27 {
      color: rgb(var(--color_27));
    }

    .color_28 {
      color: rgb(var(--color_28));
    }

    .color_29 {
      color: rgb(var(--color_29));
    }

    .color_30 {
      color: rgb(var(--color_30));
    }

    .color_31 {
      color: rgb(var(--color_31));
    }

    .color_32 {
      color: rgb(var(--color_32));
    }

    .color_33 {
      color: rgb(var(--color_33));
    }

    .color_34 {
      color: rgb(var(--color_34));
    }

    .color_35 {
      color: rgb(var(--color_35));
    }

    .backcolor_0 {
      background-color: rgb(var(--color_0));
    }

    .backcolor_1 {
      background-color: rgb(var(--color_1));
    }

    .backcolor_2 {
      background-color: rgb(var(--color_2));
    }

    .backcolor_3 {
      background-color: rgb(var(--color_3));
    }

    .backcolor_4 {
      background-color: rgb(var(--color_4));
    }

    .backcolor_5 {
      background-color: rgb(var(--color_5));
    }

    .backcolor_6 {
      background-color: rgb(var(--color_6));
    }

    .backcolor_7 {
      background-color: rgb(var(--color_7));
    }

    .backcolor_8 {
      background-color: rgb(var(--color_8));
    }

    .backcolor_9 {
      background-color: rgb(var(--color_9));
    }

    .backcolor_10 {
      background-color: rgb(var(--color_10));
    }

    .backcolor_11 {
      background-color: rgb(var(--color_11));
    }

    .backcolor_12 {
      background-color: rgb(var(--color_12));
    }

    .backcolor_13 {
      background-color: rgb(var(--color_13));
    }

    .backcolor_14 {
      background-color: rgb(var(--color_14));
    }

    .backcolor_15 {
      background-color: rgb(var(--color_15));
    }

    .backcolor_16 {
      background-color: rgb(var(--color_16));
    }

    .backcolor_17 {
      background-color: rgb(var(--color_17));
    }

    .backcolor_18 {
      background-color: rgb(var(--color_18));
    }

    .backcolor_19 {
      background-color: rgb(var(--color_19));
    }

    .backcolor_20 {
      background-color: rgb(var(--color_20));
    }

    .backcolor_21 {
      background-color: rgb(var(--color_21));
    }

    .backcolor_22 {
      background-color: rgb(var(--color_22));
    }

    .backcolor_23 {
      background-color: rgb(var(--color_23));
    }

    .backcolor_24 {
      background-color: rgb(var(--color_24));
    }

    .backcolor_25 {
      background-color: rgb(var(--color_25));
    }

    .backcolor_26 {
      background-color: rgb(var(--color_26));
    }

    .backcolor_27 {
      background-color: rgb(var(--color_27));
    }

    .backcolor_28 {
      background-color: rgb(var(--color_28));
    }

    .backcolor_29 {
      background-color: rgb(var(--color_29));
    }

    .backcolor_30 {
      background-color: rgb(var(--color_30));
    }

    .backcolor_31 {
      background-color: rgb(var(--color_31));
    }

    .backcolor_32 {
      background-color: rgb(var(--color_32));
    }

    .backcolor_33 {
      background-color: rgb(var(--color_33));
    }

    .backcolor_34 {
      background-color: rgb(var(--color_34));
    }

    .backcolor_35 {
      background-color: rgb(var(--color_35));
    }

    #masterPage:not(.landingPage) {
      --top-offset: var(--header-height);
      --header-height: 125px;
    }

    #masterPage.landingPage {
      --top-offset: 0px;
    }

    #SITE_HEADER {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 0;
    }

    #SITE_HEADER-placeholder {
      height: 125px;
    }

    [data-mesh-id=SITE_HEADERinlineContent] {
      height: auto;
      width: 100%;
    }

    [data-mesh-id=SITE_HEADERinlineContent-gridContainer] {
      position: static;
      display: grid;
      height: auto;
      width: 100%;
      min-height: auto;
      grid-template-rows: 1fr;
      grid-template-columns: 100%;
    }

    [data-mesh-id=SITE_HEADERinlineContent-gridContainer]>[id="comp-kb19keeu"] {
      position: relative;
      margin: 50px 0px 54px calc((100% - 980px) * 0.5);
      left: 22px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
    }

    [data-mesh-id=SITE_HEADERinlineContent-gridContainer]>[id="comp-kb17s44w"] {
      position: relative;
      margin: 8px 0px 12px calc((100% - 980px) * 0.5);
      left: 402px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
    }

    [data-mesh-id=SITE_HEADERinlineContent-gridContainer]>[id="comp-kb19l1gk"] {
      position: relative;
      margin: 40px 0px 45px calc((100% - 980px) * 0.5);
      left: 790px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
    }

    #SITE_HEADER {
      --bg-overlay-color: transparent;
      --bg-gradient: none;
      position: fixed !important;
      margin-top: var(--wix-ads-height);
      top: 0;
    }

    #comp-kb19keeu {
      width: 93px;
      height: 21px;
    }

    #comp-kb19keeu {
      --item-size: 21px;
      --item-margin: 0px 15px 0px 0px;
      --item-display: inline-block;
      width: 93px;
      height: 21px;
    }

    #comp-kb17s44w {
      --contentPaddingLeft: 0px;
      --contentPaddingRight: 0px;
      --contentPaddingTop: 0px;
      --contentPaddingBottom: 0px;
    }

    #comp-kb17s44w {
      width: 169px;
      height: 105px;
    }

    #comp-kb19l1gk {
      --rd: 0px;
      --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
      --shd: none;
      --fnt: normal normal normal 15px/1.4em futura-lt-w01-light, futura-lt-w05-light, sans-serif;
      --trans2: color 0.4s ease 0s;
      --txt: var(--color_14);
      --brw: 1px;
      --bg: 255, 97, 97;
      --brd: 0, 0, 0;
      --bgh: 242, 121, 121;
      --brdh: 242, 121, 121;
      --txth: 255, 255, 255;
      --bgd: 204, 204, 204;
      --alpha-bgd: 1;
      --brdd: 204, 204, 204;
      --alpha-brdd: 1;
      --txtd: 255, 255, 255;
      --alpha-txtd: 1;
      --boxShadowToggleOn-shd: none;
      --alpha-txt: 1;
      --alpha-brdh: 1;
      --alpha-brd: 1;
      --alpha-txth: 1;
      --alpha-bg: 0;
      --alpha-bgh: 1;
    }

    #comp-kb19l1gk {
      width: 171px;
      height: 40px;
    }

    #comp-kb19l1gk {
      --shc-mutated-brightness: 128, 49, 49;
      --margin-start: 0px;
      --margin-end: 0px;
      --fnt: normal normal normal 15px/1.4em futura-lt-w01-light, futura-lt-w05-light, sans-serif;
      --label-align: center;
      --label-text-align: center;
    }

    #SITE_FOOTER {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 0;
    }

    [data-mesh-id=SITE_FOOTERinlineContent] {
      height: auto;
      width: 100%;
    }

    [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] {
      position: static;
      display: grid;
      height: auto;
      width: 100%;
      min-height: auto;
      grid-template-rows: repeat(2, min-content) 1fr;
      grid-template-columns: 100%;
    }

    [data-mesh-id=SITE_FOOTERinlineContent-gridContainer]>[id="i0xzvbww"] {
      position: relative;
      margin: 55px 0px 10px calc((100% - 980px) * 0.5);
      left: 190px;
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
    }

    [data-mesh-id=SITE_FOOTERinlineContent-gridContainer]>[id="comp-kb2lpkrt"] {
      position: relative;
      margin: 0px 0px 12px calc((100% - 980px) * 0.5);
      left: 442px;
      grid-area: 2 / 1 / 3 / 2;
      justify-self: start;
      align-self: start;
    }

    [data-mesh-id=SITE_FOOTERinlineContent-gridContainer]>[id="WRchTxt0-16wb"] {
      position: relative;
      margin: 0px 0px 0px calc((100% - 980px) * 0.5);
      left: 155px;
      grid-area: 3 / 1 / 4 / 2;
      justify-self: start;
      align-self: start;
    }

    #SITE_FOOTER {
      --bg-overlay-color: transparent;
      --bg-gradient: none;
    }

    #i0xzvbww {
      width: 594px;
      height: auto;
    }

    #i0xzvbww {
      height: auto;
    }

    #comp-kb2lpkrt {
      width: 93px;
      height: 21px;
    }

    #comp-kb2lpkrt {
      --item-size: 21px;
      --item-margin: 0px 15px 0px 0px;
      --item-display: inline-block;
      width: 93px;
      height: 21px;
    }

    #WRchTxt0-16wb {
      width: 664px;
      height: auto;
    }

    #WRchTxt0-16wb {
      height: auto;
    }

    #PAGES_CONTAINER {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 0;
    }

    #SITE_PAGES {
      left: 0;
      margin-left: 0;
      width: 100%;
      min-width: 0;
    }

    #SITE_PAGES {
      --transition-duration: 700ms;
    }

    #comp-iwqfn28v {
      width: 35px;
      height: 33px;
    }
  </style>
  <style>
    input {
      color: black !important
    }

    /* -------------------------------- */
    /* ------- wahs | copyright ------- */
    /* -------------------------------- */

    /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap"); */

    /* -----Reset----- */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      /* font-family: "Josefin Sans" */
    }

    input[type="radio"] {
      display: none;
    }

    body{
      overflow: hidden!important;
    }

    /* -----Slider----- */
    .slider {
      width: 100%;
      height: 100%;
    }

    .slider .slides {
      /* position: relative; */
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
    }

    /* Slide */
    .slider .slides .slide {
      position: absolute;
      width: 93vw;
      height: 60%;
      opacity: 0;
      display: flex;
      flex-direction: column;
      transition: all 0.5s ease-in;
    }

    .slider .slides .curr {
      opacity: 1;
    }

    /* Overlay */
    .slider .slides .slide::after {
      /* position: absolute; */
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.4;
      z-index: 1;
    }

    /* Images */
    .slides .slide img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      transform: scale(0.8);
      transition: all 0.5s ease-in;
    }

    .slides .curr img {
      transform: scale(1);
    }

    .description {
      margin-top: 60px !important;
    }

    /* Description */
    .slides .slide .desc {
      /* position: absolute; */
      max-width: 700px;
      min-width: 550px;
      top: -50%;
      left: 150px;
      transform: translateY(50%);
      z-index: 2;
      padding: 25px;
      transition: all 0.5s ease-in;
    }

    .slides .curr .desc {
      top: 50%;
      transform: translateY(-50%);
    }

    .slide .desc h2 {
      font-size: 5rem;
      color: #fff;
      line-height: 5rem;
    }

    .slide .desc p {
      font-size: 1rem;
      margin: 25px 0px;
      margin-top: 40px;
      color: black;
      line-height: 1.2rem;
    }

    .slide .desc a {
      display: inline-block;
      text-decoration: none;
      font-size: 1rem;
      color: #fff;
      background-color: #e7af15;
      padding: 20px 50px;
      transition: all 0.3s ease-in;
    }

    .slide .desc a:hover {
      background-color: #000;
      color: #fff;
      border-radius: 10px;
    }

    /* -----Navigation Arrows----- */
    .slider .arrow {
      /* position: absolute; */
      text-decoration: none;
      z-index: 20;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.5;
      transition: all 0.3s ease-in;
    }

    .slider .arrow:hover {
      opacity: 1;
    }

    .slider .arrow i {
      font-size: 3rem;
    }

    .slider .left {
      left: 70px;
    }

    .slider .right {
      right: 70px;
    }

    /* -----Radio Navigation----- */
    .slider .rad-nav {
      width: 100%;
      position: absolute;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slider .rad-nav .rad-btn {
      width: 25px;
      height: 25px;
      border: 2px solid #fff;
      border-radius: 50%;
      margin: 0px 5px;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }

    .slider .rad-nav .rad-btn:hover {
      background-color: #fff;
      border-radius: 30%;
    }

    .desc {
      background-color: transparent;
    }

    /* -----Responsive----- */
    @media (max-width: 1100px) {

      /* Slide Description */
      .slides .slide .desc {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .slides .curr .desc {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    @media (max-width: 800px) {

      /* Slide Description */
      .slides .slide .desc {
        width: 70%;
        min-width: 200px;
      }

      .slide .desc h2 {
        font-size: 2.5rem;
        line-height: 2.8rem;
      }

      .slide .desc p {
        font-size: 0.8rem;
        margin: 10px 0px;
      }

      .slide .desc a {
        font-size: 0.8rem;
        padding: 10px 30px;
      }

      /* Navigation Arrows */
      .slider .arrow i {
        font-size: 2rem;
      }

      .slider .left {
        left: 20px;
      }

      .slider .right {
        right: 20px;
      }

      /* Radio Navogation */
      .slider .rad-nav .rad-btn {
        width: 15px;
        height: 15px;
      }
    }
  </style>

</head>