<style>
  #dock-btn {
    position: fixed;
    top: 50%;
    right: 0%;
    height: 60px;
    background-color: black;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: flex-start;
  }

  #dock-btn.dock-visible {
    right: 0;
  }

  .logout {
    transform: rotate(180deg);
    font-size: 22px;
  }

  li>a {
    color: white !important;
  }

  .navigation li {
    cursor: pointer;
  }

  .navigation li.clicked {
    border-bottom: 2px solid goldenrod;
  }

  .mobile-menu li>a {
    color: black !important;
    text-align: center;
  }

  .pl-50 {
    padding-left: 100px !important;
  }

  .sticky-header a svg {
    color: black !important;
    fill: black !important;
  }

  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: white;
  }

  @media only screen and (max-width:600px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0px !important;
      /* font-size: 1.5rem!important; */
    }
  }
</style>


<script>
  async function checkLoginStatus() {
    try {
      const response = await fetch('/check-login', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include' // Include cookies in the request if needed
      });

      if (!response.ok) {
        throw new Error('Network response was not ok');
      }

      const data = await response.json();
      console.log('Login status:', data);


      // Handle the login status (true/false) based on the server response
      if (data?.id) {
        document.querySelector('#dock-btn').style.display = "flex";
      } else {
        document.querySelector('#dock-btn').style.display = "none";
      }

    } catch (error) {
      console.error('Error fetching login status:', error);
    }

  }
  checkLoginStatus()

  async function logout() {
    try {
      const response = await fetch('/api/logout', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include' // Include cookies in the request if needed
      });

      if (!response.ok) {
        throw new Error('Network response was not ok');
      }

      document.location.href = "/"
    } catch (error) {
      console.error('Error fetching login status:', error);
    }

  }
</script>
<header class="header-style-three">
  <div id="header-sticky" class="main-header menu-area">
    <div class="container custom-container-two">
      <div class="row">
        <div class="col-12">
          <div class="mobile-nav-toggler">
            <i class="fas fa-bars"></i>
          </div>
          <div class="menu-wrap">
            <nav class="menu-nav show">
              <div class="logo">
                <a href="/">
                  <img style="width: 80px; height: 80px" src="/assets/img/micolli/MFnobackground.png" alt>
                </a>
              </div>
              <div class="navbar-wrap main-menu d-none d-lg-flex">
                <ul class="navigation">
                  <li id="homeLink">
                    <a href="/">Home</a>
                  </li>
                  <li id="aboutLink">
                    <a href="/about-us">about</a>
                  </li>
                  <li id="aboutLink">
                    <a href="/wedding-films-collection">wedding films</a>
                  </li>
                  <li id="aboutLink">
                    <a href="/packages">our packages</a>
                  </li>
                  <li id="aboutLink">
                    <a href="/testimonials">testimonials</a>
                  </li>
                  <li id="contactUsLink">
                    <a href="/contact">contact us</a>
                  </li>


                  <li class="social-start" id="contactUsLink">
                    <a target="_blank" href="https://www.youtube.com/user/micollifilms">
                      <span class="edgtf-social-icon-widget fab fa-youtube"></span>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://wa.me/447301613080">
                      <span class="edgtf-social-icon-widget fab fa-whatsapp"></span>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://www.facebook.com/MichaelDavisInspiration?fref=search">
                      <span class="edgtf-social-icon-widget fab fa-facebook-f"></span>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href=" https://www.instagram.com/micollifilms/">
                      <span class="edgtf-social-icon-widget fab fa-instagram"></span>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://www.tiktok.com/@micollifilms">
                      <svg class="edgtf-social-icon-widget fab icon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path
                          d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1">
                        </path>
                      </svg>


                      <svg style="display:none" class="edgtf-social-icon-widget fab icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <!-- !Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                        <path
                          d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z">
                        </path>
                      </svg>
                    </a>
                  </li>
                </ul>


              </div>


            </nav>
          </div>
          <!-- Mobile Menu -->
          <div class="mobile-menu">
            <div class="menu-backdrop"></div>


            <nav class="menu-box">
              <div class="close-btn">
                <i class="fal fa-times"></i>
              </div>
              <div class="nav-logo">
                <a href="/">
                  <img style="width: 60px; height: 60px" src="/assets/img/micolli/MFnobackground.png" alt title>
                </a>
              </div>
              <h3 style="color:gold" class="text-align-center">
                MICOLLI
              </h3>
              <div class="menu-outer">
                <!-- Here Menu Will Come Automatically Via Javascript / Same Menu as in Header -->
              </div>



              <script src="/assets/js/app/common.js"></script>
            </nav>
          </div>
          <!-- End Mobile Menu -->
          <!-- offCanvas-start -->
          <div class="extra-info">
            <div class="close-icon menu-close">
              <button>
                <i class="far fa-window-close"></i>
              </button>
            </div>
            <div class="logo-side mb-30">
              <!-- <a href="/"><img src="/assets/img/images/horizonatal.png" alt="" /></a> -->
            </div>
            <div class="side-info mb-30">
              <div class="contact-list mb-30">
                <h4>Office Address</h4>
                <p>
                  Micolli Services Limited Office 4, 9a High Street
                  Ingatestone, Essex CM4 9ED
                </p>
              </div>
              <div class="contact-list mb-30">
                <h4>Phone Number</h4>
                <p>01708987738</p>
              </div>
              <div class="contact-list mb-30">
                <h4>Email Address</h4>
                <p>
                  info@micollifilms.com
                </p>
              </div>
            </div>
            <div class="social-icon-right pt-20 pb-50">
              <a href="https://www.facebook.com/MichaelDavisInspiration?fref=search">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/micollifilms">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="offcanvas-overly"></div>
          <!-- offCanvas-end -->
        </div>
      </div>
    </div>
  </div>
  <div id="dock-btn" onclick="logout()" class="btn">
    <div class="cart-icon">
      <i class="fa fab fa-sign-out logout"></i>
      Signout
    </div>
  </div>
</header>


<script>
  const navs = document.querySelectorAll(".navigation");
  if (navs) {
    if (navs.length == 2) {
      navs[1].remove(); //style.display = 'none'
    }
    console.log("Navs ", navs);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const pathName = document.location.pathname;
    console.log("Pathname ", pathName)
    const navigationItems = document.querySelectorAll(".navigation li");

    // Check if there's a saved clicked item in localStorage
    let clickedItemIndex = localStorage.getItem("clickedItemIndex");
    if (pathName === "/") {
      clickedItemIndex = 0;
    }
    if (pathName == "/about-us") {
      clickedItemIndex = 1;
    }
    if (pathName === "/wedding-films-collection") {
      clickedItemIndex = 2;
    }
    if (pathName === "/packages") {
      clickedItemIndex = 3;
    }
    if (pathName === "/testimonials") {
      clickedItemIndex = 4;
    }
    if (pathName === "/contact") {
      clickedItemIndex = 5;
    }

    console.log("clickedItemIndex");

    if (clickedItemIndex !== null) {
      console.log("navigationItems[clickedItemIndex] ", navigationItems[clickedItemIndex]);
      navigationItems[clickedItemIndex].classList.add("clicked");
    }

    navigationItems.forEach((item, index) => {
      item.addEventListener("click", function () {
        // Remove "clicked" class from all items
        navigationItems.forEach(item => {
          item.classList.remove("clicked");
        });
        // Add "clicked" class to the clicked item
        this.classList.add("clicked");
        // Save the index of the clicked item to localStorage
        localStorage.setItem("clickedItemIndex", index.toString());
      });
    });
  });
</script>
<script src="/assets/js/app/common.js"></script>