<style>
    .loader-text {
        color: white;
        text-align: center;
        top: 30%;
        left: 45%;
        position: absolute;
    }

    @media (max-width: 767px) {
        .loader-text {
        left: 18vh;
    }
    }
</style>
<div id="preloader" style="display: block;">
    <h4 class="loader-text">MICOLLI</h4>
    <div id="loader"></div>
</div>