

<div>

    <div id="middle">
        <div class="content" id="test-div-1">
            <div>
                <div id="image-div">
                    <img class="img" src="/assets/img/micolli/testimonials/Emmaunel __ Tanya .png">
                </div>
                <div id="content-div">
                    <p>
                        We were very pleased with Micolli Films for their professionalism and seamless teamwork in
                        capturing
                        your wedding. Their film deeply moved me, creating a cherished memory..</br>
                        <span><b>- Emmanuel & Tanya</b></span>
                    </p>
                </div>
            </div>
        </div>


        <div class="content" id="test-div-2">
            <div id="image-div">
                <img class="img" src="/assets/img/micolli/testimonials/Joe + Jade.png">
            </div>
            <div id="content-div">
                <p>
                    Micolli films was recommended by a friend, and he came through for you on your wedding day,
                    meticulously capturing every moment. Their presence was a delightful addition to your celebration.
                    Both myself and your wife adore the wedding film they created, with the dancing segment standing out
                    as a particular source of joy for me. It gives me a treasure trove of memories to enjoy for many
                    years ahead.</br>
                    <span><b>- Joel & Jade</b></span>
                </p>
            </div>

        </div>


        <div class="content" id="test-div-3">
            <div id="image-div">
                <img class="img" src="/assets/img/micolli/testimonials/Stephanie __ Adrain.png">
            </div>
            <div id="content-div">
                <p>
                    We are pleased we choose Micolli Films as our wedding videography. The fact that Micolli too his
                    time to personally reach out, get to know me and your partner, to understand our personalities
                    speaks volumes about his commitment. Entrusting him with the creative freedom to capture everything
                    naturally has clearly paid off, judging by how much joy and emotion our wedding video has brought
                    us. Micolli and his team were not just service providers but a delightful addition to your special
                    day, and their work is something we are rightfully proud of.
                    </br>
                    <span><b>- Stephanie & Adrain</b></span>
                </p>
            </div>

        </div>


        <div class="content" id="test-div-4">
            <div id="image-div">
                <img class="img" src="/assets/img/micolli/testimonials/Kenechi __ Okenwa 2.png">
            </div>
            <div id="content-div">
                <p>
                    Making the trip from the United States to the UK for my wedding was a huge step, and choosing
                    Micolli
                    Films on your friend's advice turned out to be an excellent decision. They exceeded expectations,
                    documenting my ceremony with top-notch professionalism. The fact that the final film stands out as
                    unique and continues to bring me and my wife joy. The quality and effort they dedicated to capturing
                    our
                    special day. Having such a meaningful memento to look back was incredibly special.

                    </br>
                    <span><b>- Kenechi & Okenwa</b></span>
                </p>
            </div>

        </div>chevro

        <div class="content" id="test-div-5">
            <div>
                <div id="image-div">
                    <img class="img" src="/assets/img/micolli/testimonials/Charles  __ Mary.png">
                </div>
                <div id="content-div">
                    <p>
                        Micolli Films and their team met my high expectations, delivering on their promise as elite
                        videographers. We were satisfied with their work and the wedding films they produced really
                        speaks
                        to
                        the quality of their service. They perfectly captured the essence of your special day!
                        </br>
                        <span><b>- Charles & Mary</b></span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<a href="/" class="btn">Back</a>

</div>


<style>
    img {
        border-radius: 50%;
        object-fit: cover !important;
    }

    #top-div,
    #bottom-div {
        width: 100vw;
        height: 20vh;
        position: absolute;
        z-index: 999;
    }

    #top-div {
        top: 0vh;
        background: #f4f0f7;
        border-bottom-left-radius: 3vw;
        border-bottom-right-radius: 3vw;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, .4);
    }

    .img {
        width: 120vh !important;
        height: 13.5vh !important;
    }

    #middle {
        position: relative;
        width: 100vw;
        height: 80vh;
        z-index: 1;
        background: transparent;
        display: flex;
    }

    #image-div {
        width: 15vh;
        height: 15vh;
        padding: .8vh;
        margin: -5vh auto;
        background: #f4f0f7;
        opacity: 0.8;
        border-radius: 50%;
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        animation-name: bounce;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    @keyframes bounce {
        0% {
            box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translateY(0);
        }

        25% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translateY(-3vh);
        }

        75% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translateY(3vh);
        }

        100% {
            box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translateY(0);
        }
    }

    #content-div {
        width: 50vw;
        height: 20vh;
        margin: 10vh auto 0vh auto;
    }


    #test-div-1 {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        background: #f4f0f7;
        margin: 20vh 20vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 15vh rgba(0, 0, 0, .5);
        animation-name: slide1;
        animation-duration: 13s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    @keyframes slide1 {
        0% {
            margin: 20vh 20vw;
        }

        75% {
            margin: 20vh 20vw;
        }

        100% {
            margin: 20vh -120vw;
        }
    }

    #test-div-2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        background: #f4f0f7;
        margin: 20vh 120vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 15vh rgba(0, 0, 0, .5);
        animation-name: slide;
        animation-duration: 13s;
        animation-delay: 10s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    @keyframes slide {
        0% {
            margin: 20vh 120vw;
        }

        15% {
            margin: 20vh 20vw;
        }

        75% {
            margin: 20vh 20vw;
        }

        100% {
            margin: 20vh -120vw;
        }
    }

    #test-div-3 {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        background: #f4f0f7;
        margin: 20vh 120vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 15vh rgba(0, 0, 0, .5);
        animation-name: slide;
        animation-duration: 13s;
        animation-delay: 20s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    #test-div-4 {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        background: #f4f0f7;
        margin: 20vh 120vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 15vh rgba(0, 0, 0, .5);
        animation-name: slide;
        animation-duration: 13s;
        animation-delay: 30s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    #test-div-5 {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        background: #f4f0f7;
        margin: 20vh 120vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 15vh rgba(0, 0, 0, .5);
        animation-name: slide5;
        animation-duration: 13s;
        animation-delay: 40s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    @keyframes slide5 {
        0% {
            margin: 20vh 120vw;
        }

        15% {
            margin: 20vh 20vw;
        }

        100% {
            margin: 20vh 20vw;
        }
    }


    @media (max-width: 767px) {
        .arrows {
            font-size: 10vw!important;
            margin-left: 10vw!important;

        }

        h2 {
            font-size: 5vh;
        }

        p {
            font-size: 1.6vh;
        }

        span {
            margin-right: 10vw;
        }

        #middle {
            height: 83vh !important;
        }

        .content {
            width: 80vw !important;
            /* margin-left: 0 !important; */
            margin-right: 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            height: fit-content !important;
        }

        #content-div {
            /* width: 80vw; */
            height: fit-content !important;
            margin: 10vh auto 0vh auto;
        }

        #bottom-div {
            border-top-left-radius: 10vw;
            border-top-right-radius: 10vw;
        }

        #top-div {
            border-bottom-left-radius: 10vw;
            border-bottom-right-radius: 10vw;
        }

        .banner-bg {
            min-height: auto;
            padding-top: 60px;
            padding-bottom: 20px;
        }


        #test-div-1 {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        background: #f4f0f7;
        margin: 10vh 10vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 15vh rgba(0, 0, 0, .5);
        animation-name: slide1;
        animation-duration: 13s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    @keyframes slide1 {
        0% {
            margin: 10vh 10vw;
        }

        75% {
            margin: 10vh 10vw;
        }

        100% {
            margin: 10vh -120vw;
        }
    }

    #test-div-2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        background: #f4f0f7;
        margin: 10vh 120vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 15vh rgba(0, 0, 0, .5);
        animation-name: slide;
        animation-duration: 13s;
        animation-delay: 10s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    @keyframes slide {
        0% {
            margin: 10vh 120vw;
        }

        15% {
            margin: 10vh 10vw;
        }

        75% {
            margin: 10vh 10vw;
        }

        100% {
            margin: 10vh -120vw;
        }
    }

    #test-div-3 {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        background: #f4f0f7;
        margin: 10vh 120vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 15vh rgba(0, 0, 0, .5);
        animation-name: slide;
        animation-duration: 13s;
        animation-delay: 20s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    #test-div-4 {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        background: #f4f0f7;
        margin: 10vh 120vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 15vh rgba(0, 0, 0, .5);
        animation-name: slide;
        animation-duration: 13s;
        animation-delay: 30s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    #test-div-5 {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        background: #f4f0f7;
        margin: 10vh 120vw;
        border-radius: 1.5vw;
        box-shadow: 0px 0px 15vh rgba(0, 0, 0, .5);
        animation-name: slide5;
        animation-duration: 13s;
        animation-delay: 40s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    @keyframes slide5 {
        0% {
            margin: 10vh 120vw;
        }

        15% {
            margin: 10vh 10vw;
        }

        100% {
            margin: 10vh 10vw;
        }
    }

    h2{
        font-size:3.0rem!important
    }
    }
</style>